<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Css/MySheet.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
   

    
    <div id="wrapper">
        <br />
        <br />
        <br />
        <br />
        @*Navbar, ska flöja med vid skroll och känna vart på sidan man är. *@
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#wrapper">Petter Olgemar</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#about">About</a></li>
                        <li><a href="#projects">Projects</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a asp-controller="login" asp-action="index" id="loginButton" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
       
        @*<header id="layoutHeader">
            <h1>Petter Olgemar</h1>

        </header>*@

        <div>
            @RenderBody()
        </div>




    </div>

    <div íd="socialMediaDiv">
        
            <a href="https://se.linkedin.com/in/petter-olgemar-9252b791">
                <img id="socialMedia" src="~/linkedin-logo-1.png" />
            </a>
        
            <a href="https://twitter.com/Droodion">
                <img id="socialMedia" src="~/Twitter_bird_logo_2012.svg.png" />
            </a>
        
    </div>

    @RenderSection("scripts", false)

    <script src="~/Css/MyScript.js"></script>
</body>
</html>
